{% extends 'base.html.twig' %}

{% block title %}Tous les évènements - {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="principale">Évènements</h1>

    <div class="row d-flex justify-content-center">
        {% for event in events|reverse %}
            <div class="col-6 py-3 px-3">
                <div class="card border-principale mb-2">
                    <div class="card-header">
                        <strong>Date : </strong>{{ event.date | date('d/m/Y') }} &nbsp;&nbsp; | &nbsp;&nbsp;
                        <strong>Heure : </strong>{{ event.date | date('H:i') }} &nbsp;&nbsp; | &nbsp;&nbsp;
                        <strong>Lieu : </strong>{{ event.lieu }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title principale">{{ event.title }}</h4>
                        <img src={{ event.image }} alt={{ event.imageDescription }} class="py-4">
                        <p class="card-text">{{ event.description | raw }}</p>
                    </div>
                    <div class="card-footer p-0">
                        <a href="{{ event.lienEvent }}" class="btn btn-block blanc bg-principale rounded-0 rounded-bottom">Lien de l'évènement &raquo;</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}