{% set card_construct %}
    {% if response is defined %}
            {% for result in response %}
                <div class="card p-0 mb-2" id="{{ result.0.id }}">
                    <div class="card-header">

                        <p>{{ result.denomination }}
                            {% if result.distance is defined %}
                                <span class="pull-right text-primary">{{ result.distance | slice(0, 4) }} Km</span>
                            {% endif %}
                        </p>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {% if result.categories is defined %}
                                {% for res in result.categories %}
                                    {{ res }}
                                {% endfor %}
                            {% endif %}
                        </h6>
                    </div>
                    <div class="card-body text-dark">
                        {% if result.0.adresse | length > 0 or result.0.ville | length > 0 %}
                            <p class="card-text">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ result.0.adresse }}, {{ result.0.codePostal }} {{ result.0.ville }}
                            </p>
                        {% endif %}
                        {% if result.0.telephone | length > 0 %}
                            {% set splitArray = result.0.telephone | split('', 2) %}
                            {% set formattedPhone = splitArray|join(' ') %}
                            <p class="card-text">
                                <i class="fa fa-phone" aria-hidden="true"></i> {{ formattedPhone }}
                            </p>
                        {% endif %}
                        {% if result.0.description | length > 0 %}
                            <p class="card-text mb-0">
                                <i class="fa fa-id-card" aria-hidden="true"></i> {{ result.0.description | easyadmin_truncate(40) }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    {% endif %}
{% endset %}

{% set response = response|merge({'card': card_construct}) %}

{{ response|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}