{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Le blog - {{ parent() }}{% endblock %}

{% block body %}
    <a href="{{ path('blog') }}" class="btn blanc bg-principale mb-5">&laquo; Retour au blog</a>
    <article class="mb-5">
        <h2 class="principale">{{ article.title }}</h2>
        <p class="text-muted mb-3">
            <span class="font-weight-bold">Publié le</span> {{ article.createdAt | date('d/m/Y') }}
            <span class="font-weight-bold">à</span> {{ article.createdAt | date('H:i') }}
        </p>
        <div class="content">
            {% if 'http' in article.image %}
                <img src="{{ article.image }}" alt="{{ article.imageDescription }}" />
            {% else %}
                <img src="/uploads/images/articles/{{ article.image }}" alt="{{ article.imageDescription }}" />
            {% endif %}
            <div class="mt-5">{{ article.content | raw }}</div>
        </div>
    </article>
{% endblock %}