{% extends 'base.html.twig' %}

{% block title %} LouPelou{% endblock %}

{% block body %}
<a href="{{ path('blog')}}" class="btn blanc bg-bordeaux mb-5">&#60;&nbsp;&nbsp; Retour</a>
<article class="mb-5">
    <h2 class="bordeaux">{{article.title}}</h2>
    <p class="text-muted mb-3">Publié le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}}<div>
    <div class="content">
        {% if 'http' in article.image %}
            <img style="max-width: 50%;" src="{{article.image}}" alt="{{article.imageDescription}}">
        {% else %}
            <img style="max-width: 50%;" src="/uploads/images/articles/{{article.image}}" alt="{{article.imageDescription}}">
        {% endif %}
        <p class="mt-5">{{article.content | raw}}</p>
    </div>
</article>

{% endblock %}