{% extends 'base.html.twig' %}

{% block title %} LouPelou{% endblock %}

{% block body %}
<a href="{{ path('blog')}}" class="btn btn-primary">Retour</a>
<article>
    <h2>{{article.title}}</h2>
    <div class="metadata">Publié le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}}<div>
    <div class="content">
        <img src="{{article.image}}" alt="{{article.imageDescription}}">
        <p>{{article.content}}</p>
    </div>
</article>
{% endblock %}