{% extends 'base.html.twig' %}

{% block title %} LouPelou{% endblock %}

{% block body %}
<section class="articles">
    {% for event in events|reverse %}
            <h2>{{event.title}}</h2>
            <div class="content">
                <img src="{{event.logo}}" alt="{{event.logoDescription}}">
                <h3>Évènement prévue le: {{event.date | date('d/m/Y')}} à {{event.date | date('H:i')}}<h3>
                <h4>Lieu: {{ event.lieu }}</h4>
                <p>{{event.description}}</p>
                <a href="{{ event.lienEvent }}" class="btn btn-primary" target="_blank">Lien de l'événement</a>
            </div>
            <hr>
    {% endfor %}
</section>    
{% endblock %}