{% extends 'base.html.twig' %}

{% block title %}Tous les évènements - {{ parent() }}{% endblock %}

{% block body %}
<h1 class="principale mb-3">Événements</h1>

<div class="mb-3">
    {% for event in events|reverse %}
    <div class="py-4">
        <div class="row">
            <div class="overflow-hidden col-md-4 mb-3">
                <img src="{{ event.image }}" alt="{{ event.imageDescription }}" class="images">
            </div>
            <div class="col-md-8">
                <h5 class="mt-2">
                    {{ event.title }}
                </h5>
                <p class="text-muted"><strong>Date : </strong>{{ event.date | date('d/m/Y') }} &nbsp;&nbsp; |
                    &nbsp;&nbsp;
                    <strong>Heure : </strong>{{ event.date | date('H:i') }} &nbsp;&nbsp; | &nbsp;&nbsp;
                    <strong>Lieu : </strong>{{ event.lieu }}</small></p>
                <p>{{ event.description |easyadmin_truncate(100) |raw }}</p>
                <a href={{ event.lienEvent }} class="btn btn-sm blanc bg-principale" target="_blank">voir
                    l'événement</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}