{% extends 'base.html.twig' %}

{% block title %} LouPelou{% endblock %}

{% block body %}

<h1 class="principale mb-3">Événements</h1>

<div class="row d-flex justify-content-center">
{% for event in events|reverse %}
    <div class="col-12 py-3 px-3">
        <div class="card border-principale mb-2">
            <div class="card-header">
                <strong>Date : </strong>{{event.date | date('d/m/Y')}} &nbsp;&nbsp; | &nbsp;&nbsp; <strong>Heure : </strong>{{event.date | date('H:i')}} &nbsp;&nbsp; | &nbsp;&nbsp; <strong>Lieu : </strong>{{ event.lieu }}
            </div>
            <div class="card-body">
                <h4 class="card-title principale">{{event.title}}</h4>
                <img src={{event.logo}} alt={{event.logoDescription}} class="py-4">
                <p class="card-text">{{ event.description | raw}}</p>
                <a href="{{ event.lienEvent }}" class="btn text-right blanc bg-principale" target="_blank">lien de l'événement</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}