<div>
    <div class="mb-2">
        <a class="btn btn-block bg-principale border-secondaire blanc" href={{ path('profil') }}>Profil</a>
    </div>
    <div class="mb-2">
        <a class="btn btn-block text-sm bg-principale border-secondaire blanc" href={{ path('modifinfo') }}>Modifier mes informations personnelles</a>
    </div>
    <div class="mb-2">
        <a class="btn btn-block bg-principale border-secondaire blanc" href={{ path('modifemail') }}>Modifier mon email</a>
    </div>
    <div class="mb-2">
        <a class="btn btn-block bg-principale border-secondaire blanc" href={{ path('modifmdp') }}>Modifier mon mot de passe</a>
    </div>
    {% if (is_granted('ROLE_COMPTOIR') or is_granted('ROLE_PRESTATAIRE')) %}
        <div class="mb-2">
            <a class="btn btn-block bg-principale border-secondaire blanc" href={{ path('modifdescription') }}>Modifier ma description</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_COMPTOIR') %}
        <div class="mb-2">
            <br> <a class="btn btn-block bg-principale blanc" href={{ path('transaction') }}>Effectuer une transaction</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_PARTICULIER') %}
        <div class="mt-4 mb-2">
            <a class="btn btn-block bg-principale blanc" href={{ path('mypdf') }} target="_blank">Formulaire d'inscription</a>
        </div>
    {% endif %}
</div>