{% extends 'base.html.twig' %}

{% block body %}
<h1 class="principale text-center mb-3">Mon Compte</h1>

{% if not isactive %}
<div>
    <p class="text-warning text-center blanc bg-warning py-1 px-1">Ce compte n'est pas actif</p>
</div>
{% endif %}

<div class="row mb-5">
    <div class="col-md-4 mt-2 mb-4">
        <div class="border-principale py-3 px-3">
            {% include "espaceMembre/menuModif.html.twig" %}
        </div>
    </div>

    <div class="col-md-8 mt-2">
        <div class="form-group border-principale py-4 px-4">
            <h3 class="mb-4">Modifier mes informations personnelles</h3>
            {{ form_start(form) }}
            {{ form_row(form.prenom, {'value' : user.prenom, 'attr' : {"class": "form-control col-md-7 mb-3", "placeholder": "Prénom"} }) }}
            {{ form_row(form.nom, {'value' : user.nom, 'attr' : {"class": "form-control col-md-7 mb-3", "placeholder": "Nom"} }) }}
            {{ form_row(form.telephone,{'value' : user.telephone, 'attr' : {"class": "form-control col-md-7 mb-3", "placeholder": "Numéro de téléphone"} }) }}
            {{ form_row(form.ville,{'value' : user.ville, 'attr' : {"class": "form-control col-md-7 mb-3", "placeholder": "Ville"} }) }}
            {{ form_row(form.adresse,{'value' : user.adresse, 'attr' : {"class": "form-control col-md-7 mb-3", "placeholder": "Adresse"} }) }}
            {{ form_row(form.code_postal,{'value' : user.codePostal, 'attr' : {"class": "form-control col-md-7 mb-3", "placeholder": "Code postal"} }) }}
            <button class="btn bg-principale blanc" type="submit">Valider</button>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

</div>
{% endblock %}