<div id="containerProfil">
    <div style="text-align:center; font-family:verdana;" id="blockProfil">
        <h2 id="profilTitle">Mon profil</h2>
        <p>Prénom : {{ user.prenom }}</p>
        <p>Nom : {{ user.nom }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Adresse : {{ user.adresse }}</p>
        <p>Ville : {{ user.ville }}</p>
        <p>Code postal : {{ user.codepostal }}</p>
    </div>
</div>
