{% extends 'base.html.twig' %}

{% block title %}Espace personnel - {{ parent() }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mb-3">
            <i class="fa fa-check"></i> <span>{{ message }}</span>
        </div>
    {% endfor %}

    {% if not isactive %}
        <div>
            <p>Ce compte n'est pas actif</p>
        </div>
    {% endif %}

    <div id="containerProfil">
        {% include "espaceMembre/menuModif.html.twig" %}
        <div id="blockProfil">
            <h2 id="profilTitle">Mon profil</h2>
            <p>Nom : {{ prenom }} {{ nom|upper }}</p>
            <p>Adresse e-mail : {{ mail }}</p>
            <p>Adresse : {{ adresse }}, {{ codepostal }} {{ ville }}</p>
            {% if (is_granted('ROLE_COMPTOIR') or is_granted('ROLE_PRESTATAIRE')) %}
                <p>Description : {{ description }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}