{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="/css/stylesEspaceMembres.css">{% endblock %}
{% block body %}
<div id="containerProfil">
    {% include "espaceMembre/menuModif.html.twig" %}
    <div id="blockProfil">
        <h2 id="profilTitle">Mon profil</h2>
        <p>Prénom : {{ prenom }}</p>
        <p>Nom : {{ nom }}</p>
        <p>Email : {{ mail }}</p>
        <p>Adresse : {{ adresse }}</p>
        <p>Ville : {{ ville }}</p>
        <p>Code postal : {{ codepostal }}</p>
        {% if not is_granted('ROLE_PARTICULIER') %}
        <p>Description : {{ description }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}