{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mb-3">
            <i class="fa fa-check"></i> <span>{{ message }}</span>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-dismissible alert-danger mb-3">
            <i class="fa fa-times"></i> <span>{{ message }}</span>
        </div>
    {% endfor %}

    <section class="contact-container">
        {#Titre Principal#}
        <div class="main-title">
            <h1 class="principale text-center mb-3">Formulaire de transactions</h1>
        </div>
        {# ****************************************************************** #}
        {# Contenu de la vue #}
        <main class="content-display">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="border-principale py-3 px-3">
                        {# Formulaire de transactions #}
                        {{ form_start(form, {'attr': {'id': 'transaction-form'}}) }}
                        <div class="form-group">
                            <select style="width: 100%" class="js-example-basic-single" id="id_label_single" placeholder="Adhérent" method="post" name="select" required>
                                <option value="" disabled selected>Selectionner un adhérent</option>
                                {% for user in users %}
                                    <option value="{{ user[0] }}">{{ user[2] }} {{ user[3] }} - {{ user[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            {{ form_row(form.montant, {'attr' : {'placeholder': "Montant *","class": "form-control"}}) }}
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="{{ asset('favicon-16x16.png') }}"></span>
                            </div>
                            <input id="pelou" type="text" disabled="disabled" class="form-control" placeholder="0">
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="btn blanc bg-principale" value="Enregistrer" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border text-center mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Informations du comptoir</h5>
                            <p class="card-text">{{ nom }}</p>
                            <p class="card-text">Solde: {{ solde }} <img src="{{ asset('favicon-16x16.png') }}"></p>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </main>
    </section>
    {# ****************************************************************** #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

    <script type="text/javascript">
        const montant = document.getElementById("{{ form.montant.vars.id }}");
        const montantPelou = document.getElementById('pelou');

        montant.addEventListener("input", function () {
            montantPelou.value = montant.value;
        });

        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
        $(".js-example-responsive").select2({
            width: 'resolve' // need to override the changed default
        });
    </script>
{% endblock %}
