{% extends 'base.html.twig' %}

{% block body %}

<h1> Devenez Adhérent!</h1>
    
{{ form_start(form) }} 
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.code_postal) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit">  Adhérez en ligne</button>
    <button> Imprimez le formulaire</button>
    <input id="recaptchaToken" name="recaptchaToken" type="hidden">
{{ form_end(form) }}   

</br>
<p> * Champs Obligatoires </p>
     
{% endblock %}

{% block javascripts %}

<script src="https://www.google.com/recaptcha/api.js?render={{siteKey}}"></script>

<script>
  grecaptcha.ready(function() {
      grecaptcha.execute("{{siteKey}}", {action: 'homepage'}).then(function(token) {
        document.getElementById('recaptchaToken').value = token;
      });
  });
</script>

{% endblock %}
