{% extends 'base.html.twig' %}

{% block title %}
LouPelou
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{#Titre Principal#}
<h1 class="bordeaux mb-5">
    Nous sommes là pour vous répondre
</h1>
{# ****************************************************************** #}

{# Contenu de la vue #}
<div class="row">
    <div class="col-md-8 mb-5">
        <h4>
            Nous écrire
        </h4>
        {# Message de succès de l'envoi du formulaire #}
        {% for message in app.flashes('success') %}
        <div class="text-center alert alert-dismissible alert-success">
            <i class="fas fa-check">&nbsp; &nbsp;</i>
            <span>{{ message }}</span>
        </div>
        {% endfor %}
        {# ****************************************************************** #}
        {# Message d'échec de l'envoi du formulaire #}
        {% if not form.vars.valid %}
        <div class="text-center alert alert-dismissible alert-danger">
            <i class="fas fa-times">&nbsp; &nbsp;</i>
            <span>Les champs doivent contenir au moins 2 caractères et le message 10 caractères.</span>
        </div>
        {% endif %}
        {# ****************************************************************** #}
        {# Formulaire d'inscription #}
        <div class="border-bordeaux py-3 px-3">
            <form action="" method="post">
                {{form_start(form, {'attr': {'id': 'contact-form'}})}}
                <div class="form-group">
                    {{ form_widget(form.firstName, {'attr' : {'placeholder': "Prénom", "name":"firstName", "class": "form-control"}})
                    }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.lastName, {'attr' : {'placeholder': "Nom", "name":"lastName", "class": "form-control"}})
                    }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.email, {'attr' : {'placeholder': "Adresse email (ex: pierre@bmail.com)", "name":"email", "class": "form-control"}})
                    }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.object, {'attr' : {'placeholder': "Objet", "name":"object", "class": "form-control"}})
                    }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.message, {'attr' : {'placeholder': "Votre message", 'class': 'message', "name":"message", "class": "form-control"}})
                    }}
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn blanc bg-bordeaux">envoyer</button>
                </div>
                {{form_end(form)}}
            </form>
        </div>
        {# ****************************************************************** #}
    </div>
    {# Informations de contact #}
    <div class="col-md-4">
        <h4 class="title">
            Nous contacter autrement
        </h4>
        <div class="card border text-center mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">01monnaielocalelimousine@gmail.com</p>
            </div>
        </div>
        <div class="card border text-center mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Téléphone</h5>
                <p class="card-text">05-55-55-55-55</p>
            </div>
        </div>
        <div class="card border text-center mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Réseaux sociaux</h5>
                <p class="card-text">
                    <a class="card-link bordeaux" href="https://www.facebook.com/lechemindupelou/" target="_blank">
                        <i class="fab fa-facebook-square facebook-icon-contact"></i>&nbsp;
                        &nbsp;Facebook</a>
                </p>
            </div>
        </div>
    </div>
    {# ****************************************************************** #}
</div>
{# ****************************************************************** #}

{% endblock %}