<h1>Merci pour votre inscription !</h1>

<p>Bonjour {{ prenom }} {{ nom }},</p>

<p>
    Vous êtes inscrit sur le site <a href="{{ url('index') }}">Lou Pélou</a>.<br /> Vous pouvez désormais
    <a href="{{ url('login') }}">vous connecter</a> en utilisant votre identifiant : {{ email }}, et le mot de passe que vous avez choisi.
</p>

<p>Toute l'équipe de l'association Le Chemin Limousin vous souhaite une excellente journée !</p>

