<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LouPelou{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
    </head>

    <body>
        {% block navbar %}
        <header>
            <a href={{ path('index') }}><img id="logo" src="/logoloup.png" alt="logo lou pélou"></a>
            <h1 id="slogan">notre monnaie nous appartient<br>redonnons lui du sens !</h1>
            <a href={{ path('logins') }}><img id="iconuser" src="/iconuser.png" alt="connexion/inscription"></a>
        </header>

        <nav>
            <ul id="ul1">
                <li><a href={{ path('procurer') }}>où s'en procurer</a></li>
                <li><a href={{ path('utiliser') }}>où les utiliser</a></li>
                <li class="dropdown">
                    <a href={{ path('rejoindre') }} class="dropbtn">nous rejoindre</a>
                    <div class="dropdown-content">
                        <a href={{ path('particuliers') }}>particuliers</a>
                        <a href={{ path('professionnels') }}>professionnels</a>
                    </div>
                </li>
                <li><a href={{ path('contacter') }}>nous contacter</a></li>
                <li><a href={{ path('evenements') }}>évènements</a></li>
                <li><a href={{ path('blog') }}>blog</a></li>
                <li><a href="https://www.facebook.com/lechemindupelou/" target="_blank"><img id="fb" src="/facebookicon.svg" alt="facebook"></a></li>
            </ul>
        </nav>
        {% endblock %}

        <section>
        {% block body %}
        {% endblock %}
        </section>
      
        {% block footer %}
        <footer>
            <ul id="ul2">
                <li><a href={{ path('mentions') }}>mentions légales</a></li>
                <li><a href={{ path('cgv') }}>cgv</a></li>
                <li><a href={{ path('cgu') }}>cgu</a></li>
                <li><a href={{ path('statut') }}>statut</a></li>
                <li><a href={{ path('reglement') }}>règlement intérieur</a></li>
                <li><a href={{ path('rendu') }}>compte rendu ag 2019</a></li>
                <li><a href={{ path('contacter') }}>contact</a></li>
                <li><a href="https://www.facebook.com/lechemindupelou/" target="_blank"><img id="fb" src="/facebookicon.svg"></img></a></li>
            </ul>
        </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    
    </body>
</html>
