<!DOCTYPE html>
<html>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7490257253.js"></script>
</head>

<body>
        {% block navbar %}
        <header class="bordeaux bg-light">
            <h1 style="font-size: 1rem; margin-bottom:0px; padding-bottom: 3px;" class="text-center" id="slogan">Notre monnaie nous appartient, redonnons lui du sens !</h1>
        </header>

    <nav class="navbar navbar-expand-md navbar-dark bg-bordeaux sticky-top">
        <a class="navbar-brand" href={{ path('index') }}><img src="/images/logo-lou-pelou.png" width="70"
                alt="lou pelou"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto flex-fill justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href={{ path('procurer') }}>où s'en procurer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('utiliser') }}>où les utiliser</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">nous rejoindre</a>
                    <div class="dropdown-menu" x-placement="bottom-start"
                        style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href={{ path('inscription_particulier') }}>particuliers</a>
                        <a class="dropdown-item" href={{ path('inscription_pro') }}>professionnels</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('evenements') }}>événements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('blog') }}>blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ path('contacter') }}>contact</a>
                </li>
            </ul>
            {% if not app.user %}
                <a class="nav-link btn-sm btn-outline text-center jaune border-rouge-jaune" href={{ path('login') }}>connexion</a>
            {% else %}
                <a href={{ path('app_logout') }} class="jaune">déconnexion</a>
                <a class="nav-link jaune" href={{ path('profil') }}><i class="fas fa-user"></i></a>
            {% endif %}
        </div>
    </nav>
    {% endblock %}

        <div class="container mt-5 mb-5">
            {% block body %}
            {% endblock %}
        </div>

    {% block footer %}
    <footer class="mt-5">
        <nav class="navbar navbar-expand-md navbar-dark bg-bordeaux">
            <ul class="navbar-nav mr-auto flex-fill justify-content-center">
                <li class="nav-item ">
                    <a class="nav-link jaune opac-moyen" href={{ path('mentions') }}>mentions légales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href={{ path('cgv') }}>cgv</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href={{ path('cgu') }}>cgu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href={{ path('statut') }}>statut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href={{ path('reglement') }}>règlement intérieur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href={{ path('rendu') }}>compte rendu ag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href={{ path('contacter') }}>contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link jaune opac-moyen" href="https://www.facebook.com/lechemindupelou/"target="_blank"><i class="fab fa-facebook-square facebook-icon"></i></a>
                </li>
            </ul>
        </nav>
    </footer>
    {% endblock %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/84a428c253.js"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
