<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            {% block title %}Lou Pélou - Monnaie locale{% endblock %}
        </title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        {% block stylesheets %}
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
            <link crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" rel="stylesheet"/>
            <link href="/css/main.min.css" rel="stylesheet"/>
        {% endblock %}
    </head>

    <body>
        {% block navbar %}
            <header>
                <a href={{ path('index') }}><img alt="logo lou pélou" id="logo" src="uploads/images/logo/{{logo.getInfo()}}"></a>
                <h1 id="slogan">{{ slogan.getInfo() | raw }}</h1>
                {% if not app.user %}
                    <a href={{ path('login') }}><img alt="connexion/inscription" id="iconuser" src="/images/iconuser.png"></a>
                {% else %}
                    <a href={{ path('app_logout') }}>Se déconnecter</a>
                    <a href={{ path('profil') }}><img alt="connexion/inscription" id="iconuser" src="/images/iconuser.png"></a>
                {% endif %}
            </header>


            <nav class="main-navigation">
                <ul>
                    <li>
                        <a href={{ path('index') }}>Accueil</a>
                    </li>
                    <li>
                        <a href={{ path('procurer') }}>où s'en procurer</a>
                    </li>
                    <li>
                        <a href={{ path('utiliser') }}>où les utiliser</a>
                    </li>
                    <li class="dropdown">
                        <a href={{ path('rejoindre') }} class="dropbtn">nous rejoindre</a>
                        <div class="dropdown-content">
                            <a href={{ path('inscription_particulier') }}>particuliers</a>
                            <a href={{ path('inscription_pro') }}>professionnels</a>
                        </div>
                    </li>
                    <li>
                        <a href={{ path('contacter') }}>nous contacter</a>
                    </li>
                    <li>
                        <a href={{ path('evenements') }}>évènements</a>
                    </li>
                    <li>
                        <a href={{ path('blog') }}>blog</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/lechemindupelou/" target="_blank"><img alt="facebook" class="facebook" src="/images/facebookicon.svg"></a>
                    </li>
                </ul>
            </nav>
        {% endblock %}


        <section>
            {% block body %}{% endblock %}
        </section>

        {% block footer %}
            <footer>
                <ul>
                    <li>
                        <a href={{ path('mentions') }}>mentions légales</a>
                    </li>
                    <li>
                        <a href={{ path('cgv') }}>cgv</a>
                    </li>
                    <li>
                        <a href={{ path('cgu') }}>cgu</a>
                    </li>
                    <li>
                        <a href={{ path('statut') }}>statut</a>
                    </li>
                    <li>
                        <a href={{ path('reglement') }}>règlement intérieur</a>
                    </li>
                    <li>
                        <a href={{ path('rendu') }}>compte rendu ag 2019</a>
                    </li>
                    <li>
                        <a href={{ path('contacter') }}>contact</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/lechemindupelou/" target="_blank"><img class="facebook" src="/images/facebookicon.svg"/></a>
                    </li>
                </ul>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/84a428c253.js"></script>
        {% endblock %}
    </body>
    
</html>
