{% extends 'base.html.twig' %}

{% block body %}

     {% for message in app.flashes('danger') %}
        <div class="text-center alert alert-dismissible alert-danger">
            <i class="fas fa-check"></i> <span>{{ message }}</span>
        </div>
    {% endfor %}

    <section class="presentation">
        <h2 class="principale mb-4">{{ Infos.titrepresentation | raw }}</h2>
        {{ Infos.presentation | raw }}
    </section>

    <section class="evenements">
        <h2 class="principale mb-4">Nos futurs événements</h2>

        <div class="row d-flex justify-content-around">
            {% for event in events|reverse %}
                <div class="col-md-4 col-sm-8 mb-3">
                    <div class="card border-principale mb-2">
                        <div class="card-header">
                            <span class="font-weight-bold">Le </span>{{ event.date | date('d/m/Y') }} <span class="font-weight-bold">à</span> {{ event.date | date('H:i') }}<br />
                            <span class="font-weight-bold">Lieu : </span>{{ event.lieu }}
                        </div>
                        <div class="card-body">
                            <h4 class="card-title principale">{{ event.title }}</h4>
                            <img src={{ event.image }} alt={{ event.imageDescription }} class="py-4">
                        </div>
                        <div class="card-footer p-0">
                            <a href="{{ event.lienEvent }}" class="btn btn-block blanc bg-principale rounded-0 rounded-bottom">Lien de l'évènement &raquo;</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="blog">
        <h2 class="principale mb-4">Nos derniers articles</h2>

        <div class="row d-flex justify-content-around">
            {% for article in articles|reverse if article.isActive == true %}
                <div class="col-md-4 col-sm-8 mb-3">
                    <div class="card border-principale">
                        <div class="card-header principale">
                            <h4 class="card-title mb-0">{{ article.title }}</h4>
                        </div>
                        <div class="card-body">
                            {% if 'http' in article.image %}
                                <img src="{{ article.image }}" alt="{{ article.imageDescription }}" class="py-4">
                            {% else %}
                                <img src="/uploads/images/articles/{{ article.image }}" alt="{{ article.imageDescription }}" class="py-4">
                            {% endif %}
                        </div>
                        <div class="card-footer p-0">
                            <a href="{{ path('blogArticle', {'id': article.id}) }}" class="btn btn-block blanc bg-principale rounded-0 rounded-bottom">En savoir plus &raquo;</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
