{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="principale text-center mb-3">Réinitialisation de votre mot de passe</h1>

    <div class="row">
        <div class="col-6 offset-md-3">
            <div class="border-principale py-3 px-3">
                <p class="text-center text-muted">
                    <small>Veuillez saisir et confirmer votre nouveau mot de passe dans le formulaire ci-dessous.</small>
                </p>

                <hr class="mb-4" />

                <form action="{{ path('forgot') }}" method="post">
                    <div class="row">
                        <div class="form-group col-12">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Nouveau mot de passe *" required>
                        </div>
                        <div class="form-group col-12">
                            <input type="password" name="password_confirm" id="password_confirm" class="form-control" placeholder="Confirmation *" required>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn blanc bg-principale">Réinitialiser mon mot de passe &raquo;</button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    </div>
                    <div class="form-group text-center">
                        <p>
                            <a href="{{ path('login') }}" class="text-muted" title="Connexion"><small>Connexion</small></a><br />
                            <a href="{{ path('inscription_particulier') }}" class="text-muted" title="Créer un compte adhérent"><small>Créer un compte adhérent</small></a><br />
                            <a href="{{ path('inscription_pro') }}" class="text-muted" title="Créer un compte professionnel"><small>Créer un compte professionnel</small></a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
