<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Annuaire prestataire</title>
    </head>

    <body>
        {% for key,value in prestaCate %}
            {% if not value is empty %}
                <div class="text-center" style="width: 100%; background-color: #960A00; margin: 20px; box-sizing:border-box; padding: 10px; color: #FFE803">
                    <h1>{{ key }}</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Site</th>
                        </tr>
                    </thead>
                    {% for presta in value %}
                        <tbody>
                            <tr>
                                <td>{{ presta.denomination }}</td>
                                <td>{{ presta.user.adresse }} <br> {{ presta.user.codePostal }}
                                    <br> {{ presta.user.ville }}</td>
                                <td>{{ presta.user.telephone }}</td>
                                <td>{{ presta.user.email }}</td>
                                <td>{{ presta.siteInternet }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    </body>
    <script src="https://kit.fontawesome.com/84a428c253.js"></script>
</html>
