{% extends 'base.html.twig' %}

{% block title %} LouPelou{% endblock %}

{% block body %}
    <h1 class="principale text-center mb-3">Créer un compte Professionnel</h1>

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="border-principale py-3 px-3">
                <p class="text-center text-muted"><small>* Champs Obligatoires</small></p>

                <hr class="mb-4" />

                <form action="" method="post">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group col-6">
                            {{ form_row(form.nom, {'attr' : {'placeholder': "Nom *", "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-6">
                            {{ form_row(form.prenom, {'attr' : {'placeholder': "Prénom *", "class": "form-control"}}) }}
                        </div>
                    </div>

                    <hr class="mb-4" />

                    <div class="row">
                        <div class="form-group col-12">
                            {{ form_row(form.adresse, {'attr' : {'placeholder': "Adresse *", "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-4">
                            {{ form_row(form.code_postal, {'attr' : {'placeholder': "Code Postal *",  "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-8">
                            {{ form_row(form.ville, {'attr' : {'placeholder': "Ville *", "class": "form-control"}}) }}
                        </div>
                    </div>

                    <hr class="mb-4" />

                    <div class="row">
                        <div class="form-group col-6">
                            {{ form_row(form.telephone, {'attr' : {'placeholder': "Téléphone", "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-6">
                            {{ form_row(form.email, {'attr' : {'placeholder': "Email *", "class": "form-control"}}) }}
                        </div>
                    </div>

                    <hr class="mb-4" />

                    {# Réorganisation PRO #}
                    <div class="row">
                        <div class="form-group col-12">
                            {{ form_row(formPro.denomination, {'attr' : {'placeholder': "Nom de l'enseigne *", "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-6">
                            {{ form_row(formPro.siret, {'attr' : {'placeholder': "Siret", "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-6">
                            {{ form_row(formPro.site_internet, {'attr' : {'placeholder': "Site Internet", "class": "form-control"}}) }}
                        </div>
                    </div>

                    <hr class="mb-4" />

                    <div class="row">
                        <div class="form-group col-6">
                            {{ form_row(formPro.presta, {'attr' : {"id":"presta", 'style': 'margin-left: 0.5em;', "onClick":"check()"}}) }}
                        </div>

                        <div class="form-group col-6">
                            {{ form_row(formPro.compt, {'attr' : {"id":"comptoir", 'style': 'margin-left: 0.5em;'}}) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_row(formCategorie.categorie, {'attr' : {"class":"custom-select ", "id":"categorie", "disabled":"disabled"}}) }}
                        </div>
                    </div>

                    <hr class="mb-4" />

                    {# **************** #}
                    {# PASSWORD #}
                    <div class="row">
                        <div class="form-group col-12">
                            {{ form_row(form.password.first, {'attr' : {'placeholder': "Mot de passe *", "class": "form-control"}}) }}
                        </div>
                        <div class="form-group col-12">
                            {{ form_row(form.password.second, {'attr' : {'placeholder': "Répétez votre mot de passe *", "class": "form-control"}}) }}
                        </div>
                    </div>
                    {# ******************** #}

                    <hr class="mb-4" />

                    <div class="row">
                        <div class="form-group col-6 offset-3">
                            <input type="submit" class="btn btn-block blanc bg-principale" value="Adhérer en ligne &raquo;" />
                            <input id="recaptchaToken" name="recaptchaToken" type="hidden">
                        </div>
                        <div class="form-group text-center col-12">
                            <p>
                                <a href="{{ path('login') }}" class="text-muted" title="Connexion"><small>J'ai déjà un compte</small></a>
                            </p>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?render={{ siteKey }}"></script>

    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute("{{ siteKey }}", {
                action: 'homepage'
            }).then(function (token) {
                document.getElementById('recaptchaToken').value = token;
            });
        });

        function check() {
            const categorie = document.getElementById("{{ formCategorie.categorie.vars.id }}");
            const presta = document.getElementById("{{ formPro.presta.vars.id }}");
            if (presta.checked) {
                categorie.disabled = false;
            } else {
                categorie.disabled = true;
            }
        }

    </script>

{% endblock %}