{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="principale text-center mb-3">Réinitialisation de votre mot de passe</h1>

    <div class="row">
        <div class="col-6 offset-md-3">
            <div class="border-principale py-3 px-3">
                <p class="text-center text-muted">
                    <small>Veuillez saisir et confirmer votre nouveau mot de passe dans le formulaire ci-dessous.</small>
                </p>

                <hr class="mb-4" />

                {% for message in app.flashes('success') %}
                    <div class="text-center alert alert-dismissible alert-success">
                        <i class="fa fa-check"></i> <span>{{ message }}</span>
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                <div class="form-group col-12 ">
                    {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-12">
                    {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn blanc bg-principale">Réinitialiser mon mot de passe &raquo;</button>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                </div>
                <div class="form-group text-center">
                    <p>
                        <a href="{{ path('login') }}" class="text-muted" title="Connexion"><small>Connexion</small></a><br />
                        <a href="{{ path('user.inscriptionParticulier') }}" class="text-muted" title="Créer un compte adhérent"><small>Créer un compte adhérent</small></a><br />
                        <a href="{{ path('user.inscriptionProfessionnel') }}" class="text-muted" title="Créer un compte professionnel"><small>Créer un compte professionnel</small></a>
                    </p>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}
