{% extends 'base.html.twig' %}
{% block body %}

    <section class="contact-container">
        {#Titre Principal#}
        <div class="main-title">
            <h1 class="principale text-center mb-3">Formulaire de transactions</h1>
        </div>
        {# ****************************************************************** #}
        {# Contenu de la vue #}
        <main class="content-display">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="border-principale py-3 px-3">
            {# Formulaire de transactions #}
            {{form_start(form, {'attr': {'id': 'transaction-form'}})}}
                        {% for message in app.flashes('error') %}
                            <p class="text-danger">{{ message }}</p>
                        {% endfor %}
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Rechercher" id="myInput" onkeyup="filterFunction()">
                        </div>
                        <div class="form-group">
                                <select id="myDropdown" placeholder="Adhérent" class="form-control" method="post" name="select">
                                    <option class="item" value="" disabled selected>Selectionner un adhérent</option>
                                    {% for user in users %}
                                        <option style="display: none;" value="{{user[0]}}" >{{user[2]}} {{user[3]}} {{user[1]}}</option>
                                    {% endfor %}
                                </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                            </div>
                            {{ form_row(form.montant, {'attr' : {'placeholder': "Montant *","class": "form-control"}}) }}
                            <div class="input-group-prepend">
                                <span class="input-group-text"><img src="{{ asset('favicon-16x16.png') }}"></span>
                            </div>
                            <input id="pelou" type="text" disabled="disabled" class="form-control" placeholder="0">
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="btn blanc bg-principale" value="Enregistrer" />
                        </div>
                {{form_end(form)}}
                        {% for message in app.flashes('success') %}
                            <p class="text-success">{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border text-center mb-3" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Informations du comptoir</h5>
                            <p class="card-text">{{ nom }}</p>
                            <p class="card-text">Solde: {{ solde }} <img src="{{ asset('favicon-16x16.png') }}"></p>
                        </div>
                    </div>
                        <div>
                </div>
                </div>
            </div>
        </main>
    </section>
    {# ****************************************************************** #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        const montant = document.getElementById("{{ form.montant.vars.id }}");
        const montantPelou = document.getElementById('pelou');

        montant.addEventListener("input", function() {
            montantPelou.value = montant.value;
        });


    function filterFunction() {
        var input, filter, option, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("option");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            }
            else {
            a[i].style.display = "none";
            }
            if (filter == '') {
            a[i].style.display = "none";
            }
        }
    }

    </script>
{% endblock %}