{% extends 'base.html.twig' %}
{% block body %}
    <section class="contact-container">
        {#Titre Principal#}
        <div class="main-title">
            <h2>
                Formulaire de transactions
            </h2>
        </div>
        {# ****************************************************************** #}

        {# Contenu de la vue #}
        <main class="content-display">

            {# Formulaire de transactions #}
            {{ form_start(form, {'attr': {'id': 'transaction-form'}}) }}

            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.montant) }}

            <div class="btn-form">
                <button id="btn-form">Enregistrer</button>
            </div>
            {{ form_end(form) }}
            {# ****************************************************************** #}


            {# Messages #}
            <section class="contact">

                {# Message de succès de l'envoi du formulaire #}
                {% for message in app.flashes('success') %}
                    <div class="success-msg">
                        <span>{{ message }}</span>
                        <img src="{{ asset('/images/check.svg') }}" width="15" height="15" alt="valid icon">
                    </div>
                {% endfor %}
                {# ****************************************************************** #}
                {# Message d'échec de l'envoi du formulaire #}
                {% for message in app.flashes('error') %}

                    <div class="error-msg">
                        <div class="center">
                            <span>{{ message }}</span>
                        </div>
                        <img src="{{ asset('/images/error.svg') }}" width="15" height="15" alt="error icon">
                    </div>
                {% endfor %}
                {# ****************************************************************** #}
            </section>
            {# ****************************************************************** #}

        </main>
        {# ****************************************************************** #}

    </section>
{% endblock %}